/* Survey page styles */

.photo{
  /*width: 60%;*/
  /*padding: 10px;*/
}

#concert{
  @include bp(tablet){
  height: em(400px);
}
}
#band{
  @include bp(tablet){
    height: 400px;

    margin-top:em(70px);
  }
}

p > label{
  text-align: center;
  @include bp(tablet){
    text-align: left;
    margin-left: em(0px);
  }
}
.centerHeading{
  @include flex;
  @include flex_justify_center;
  @include bp(tablet){
    @include flex;
    @include flex_justify_center;
  }
  @include bp(large_screen){
    @include flex_justify_start;
    margin-left: 15%;
  }
}
form {
  margin: 0 auto;
  text-align: left;
  /*display: inline-block;*/
  @include bp(tablet){
  width: 80%;
}
}
legend{
 text-indent: -9999px;

}
#replacementLabel{
  font-size: $font-size__h5;
  margin-top: em(-20px);
}

.container{
  width: 80%;
  text-align: center;
  margin-top: em(30px);
}
.newsletter{
  text-align: left;

}
.flexColumn{
  @include flex;
  @include flex_column;
  @include flex_align_items--center;

  @include bp(fullscreen){
    @include flex;
    @include flex_row;
    @include flex_justify_space_around;
    /*max-width: 1200px;*/
    -ms-flex-pack: distribute;
  }
}

fieldset{
  border: 0;
}

input[type="text"]:focus,
input[type="email"]:focus,
#albums:focus,
textarea:focus {
  border: 6px solid $orange-red;
  transition: all .4s ease-in-out;
  background-color: $lightergrey; }

  input[type="text"], input[type="email"], select, textarea, button {
	border-radius: 3%;
	outline: 0;
  width: 100%;
	padding: 5px;
  color: darken($orange-red, 20%);
  font-weight: $font-weight--ultra-bold;
	/*width: calc(100% - 10%);*/
	background-color: $off-white2;
	border: 4px solid $lemon;
	box-shadow: 0 1px 0 rgba(0, 0, 0, 0.03) inset;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

input::-moz-placeholder {
  text-align: right;
  font-weight: 700;
  color: darken($orange-red, 20%);
  @include bp(largescreen){
    text-align: right;
  }
}
::-webkit-input-placeholder {
  font-weight: 700;
  color: darken($orange-red, 20%);
  @include bp(largescreen){
    text-align: right;
  }
}

input[type="radio"]{
  -webkit-appearance:none;
/*  -moz-appearance: none;*/
  width: em(25px);
  height: em(25px);
  border:5px solid $mustard;
  background-color: $sage;
  border-radius:50%;
  outline:none;
  @include bp(tablet){
    width: em(20px);
    height: em(20px);
  }

}



input[type=radio]:checked {
  border: 5px solid $orange-red;
}



/* name label */
#newsletter > p:nth-child(2) > label:nth-child(1){
  @include bp(tablet){
  margin-right: em(50px);
}
}

/* email label */
#newsletter > p:nth-child(3) > label:nth-child(1){
  @include bp(tablet){
  margin-right: em(58px);
}
}

/* validate email label */
#newsletter > p:nth-child(4) > label:nth-child(1){
  @include bp(tablet){
    margin-right: em(3px);
  }
}

button{
  width: 100%;
  margin-top: 4%;

}

#favMember {
  @include flex;
  @include flex_column;
  @include flex_justify_center;
  @include flex_align_items--center;
  font-size: $font-size__h2;
	@include bp(tablet){
    @include flex_row;
    @include flex_justify_space_between;
    font-size: $font-size__h5;
  }
}

.hideLabel{
  display: none;
}


select {
  color: #a8423d;
  height: 52px;
}
