/* Tour page styles */

pre {
  font-family: 'Open Sans', sans-serif;
}


.flexTour{
  @include flex;
  @include flex_column;
  @include flex_align_items--center;
  @include bp(fullscreen){
  margin-bottom: em(80px);
  }
  @include bp(large_screen){
    @include flex_column;


  }
}

#headerPics{
  @include flex;
  margin: 3em auto;

}
.tourHead{
  display: inline-block;
  margin: 0;
}


#tour{
  @include flex;
  @include flex_justify_center;
  @include flex_align_center;
  width: 100%;
  border-top:  4px solid $red;
  margin-bottom: 4em;
    &:hover{
      border-color: $lemon;
    }
}
#tourCaption{
  display: none;
}

.pick{
  width: 75px;
  height: 80px;
  padding: em(4px);
  margin-top: -20px;
}

#tour_table{
  margin-top: em(30px);
  width: em(353px);
  margin-bottom: em(120px);
  @include bp(mobile_small){
    width: em(310px);
  }
  @include bp(tablet){
    width: em(750px);
    margin-left: 17%;
  }
  @include bp(fullscreen){
    width: em(910px);

  }


}

thead{
  color: $sand;
  text-align: left;
  @include bp(tablet){
    text-transform: uppercase;
    text-decoration: underline;

  }
  @include bp(fullscreen){
    text-transform: uppercase;
    text-decoration: underline;

  }
}

tbody{
  @include bp(fullscreen){
    margin-top: em(20px);
  }
}
